@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital@1&family=Mukta:wght@300&family=PT+Sans&family=Raleway:wght@100;700;800&display=swap');

body {
  color: white;
  margin: 0px;
  font-family: -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  background-color: salmon;
  user-select: none;
}

.page-content {
  padding: 40px;
  color: white;
  font-size: 24px;
}

.root {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

.mui-svg-icon {
  transform: scale(3);
  color: salmon;
}

.nav-icon {
  transform: scale(1.75);
  color: salmon;
}

.logo {
  padding: 10px;
}